.navbar__content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem 0;
}

.navbar__title h2{
    font-family: var(--font-secundary);
    font-size: 5rem;
    font-weight: 400;
}

.navbar__list{
    display: flex;
    justify-content: space-between;
    gap: 4rem;
}

.navbar__list a {
    text-decoration: none;
    color: var(--color-primary);
    font-size: 1.5rem;
    font-weight: 700;
    transition: text-shadow ease .3s, line-height ease .3s;
}

.navbar__list a:hover {
    text-decoration: underline;
    text-shadow: #e0e0e0 1px 1px 0;
    color: var(--color-tertiary);
    line-height: 2;
}


/* .navbar__btn button{
    padding: 1rem 2rem;
    border: none;
    border-radius: 2rem;
    background-color: var(--color-primary);
    color: white;
    cursor: pointer;
} */


.navbar__btn button {
    padding: 1rem 2rem;
    border: none;
    border: 2px solid rgb(255, 255, 255);
    background-color: var(--color-primary);
    color: #FFF;
    border-radius: 2rem;
    display: inline-block;
    font-size: 1.6rem;
    /* letter-spacing: 1px; */
    cursor: pointer;
    box-shadow: inset 0 0 0 0 #bbbaba;
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;
  }

  .navbar__btn button:hover {
    box-shadow: inset 400px 50px 0 0 #bbbaba;
  }